.dialogBox{
    height:60vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:15vh;
}

.boxHeading{
    text-align:center;
    text-decoration:underline
}

.subHeading{
    font-size:2vh;
    margin-top:-2vh
}
