

.dashboard {
  width: 80vw;
  height: 100vh;
  background-image: linear-gradient(to right, #dadada 0%, #dadada 100%);
  display: flex;
  flex-direction: column;
}

.dashboardDetails {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  background-color: white;
}

.dashboardNav {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: white;
}

.pageData {
  width: 83vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  background-color: white;
  margin-left: -8vh;
}

.dataBox {
  width: 100%;
  height: 97%;
  background-color: white;
  box-shadow: 0px 0px 3vh black;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableCell {
  font-size: 2.5vh;
  color: #2586b6;
  text-align: center;
}

.tableContentCell {
  font-size: 2vh;
  text-align: center;
}

.createButton {
  margin-left: 2vh;
  margin-top: 2vh;
}

.detailsCard {
  width: 40%;
  height: 50%;
  border-radius: 2vh;
  color: black;
  box-shadow: 0px 0px 2vh black;
  background-color: rgb(214, 214, 214);
}
